.u-block-7752-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-7752-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
  padding: 7px;
}

.u-block-7752-4 {
  position: absolute;
  right: 0;
  padding: 7px;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1-1 .u-image-1 {
  width: 757px;
  height: 702px;
  margin: 45px auto;
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1-1 .u-image-1 {
    width: 720px;
    height: 668px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1-1 .u-image-1 {
    width: 540px;
    height: 524px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 330px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1-2 .u-image-1 {
  width: 1097px;
  height: 695px;
  margin: 14px auto;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1-2 .u-image-1 {
    width: 940px;
    height: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1-2 .u-image-1 {
    width: 720px;
    height: 457px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 343px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 216px;
  }
}

.u-block-34be-4:not([data-block-selected]):not([data-cell-selected]),
.u-block-34be-4:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-34be-4:not([data-block-selected]):not([data-cell-selected]).u-block-34be-4:not([data-block-selected]):not([data-cell-selected]).u-block-34be-4:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-34be-4.u-block-34be-4.u-block-34be-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-2 {
  background-image: none;
  min-height: 501px;
}

.u-section-2 .u-shape-1 {
  height: 30px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 59px 235px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 90px 269px 0;
}

.u-section-2 .u-shape-2 {
  height: 30px;
  background-image: none;
  margin-top: 67px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    width: 770px;
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-2 .u-text-2 {
    width: 702px;
    margin-left: 169px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: 59px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  min-height: 732px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 732px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 747px;
  height: 641px;
  margin: 46px 42px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 732px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 2px;
}

.u-section-3 .u-image-2 {
  height: 565px;
  width: 314px;
  margin: 55px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 610px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 604px;
  }

  .u-section-3 .u-image-1 {
    width: 658px;
    height: 565px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 604px;
  }

  .u-section-3 .u-image-2 {
    height: 500px;
    width: 278px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 475px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-3 .u-image-1 {
    width: 504px;
    height: 433px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-3 .u-image-2 {
    height: 381px;
    width: 212px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 573px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1158px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 398px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 292px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 729px;
  }
} .u-section-4 {
  min-height: 999px;
}

.u-section-4 .u-shape-1 {
  height: 30px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 438px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 438px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 41px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: normal;
  margin: 57px 0 0 22px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 40px 11px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 413px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 41px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: normal;
  margin: 57px 0 0 22px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 40px 11px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 413px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 273px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-shape-2 {
  height: 30px;
  background-image: none;
  margin-top: 50px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 850px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-4 .u-image-1 {
    height: 219px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 341px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 341px;
  }

  .u-section-4 .u-image-2 {
    height: 218px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 686px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 277px;
  }

  .u-section-4 .u-image-1 {
    height: 158px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 261px;
  }

  .u-section-4 .u-image-2 {
    height: 157px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1336px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 342px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 489px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 358px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 970px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-4 .u-image-1 {
    height: 210px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 308px;
  }

  .u-section-4 .u-image-2 {
    height: 220px;
  }
} .u-section-5 {
  min-height: 530px;
}

.u-section-5 .u-gallery-1 {
  height: 440px;
  width: 1140px;
  margin: 30px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-5 .u-back-image-1 {
  width: 384px;
}

.u-section-5 .u-over-slide-1 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-5 .u-back-image-2 {
  width: 384px;
}

.u-section-5 .u-over-slide-2 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-5 .u-back-image-3 {
  width: 384px;
}

.u-section-5 .u-over-slide-3 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-5 .u-back-image-4 {
  width: 384px;
}

.u-section-5 .u-over-slide-4 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-5 .u-back-image-5 {
  width: 384px;
}

.u-section-5 .u-over-slide-5 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-5 .u-back-image-6 {
  width: 384px;
}

.u-section-5 .u-over-slide-6 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-7 {
  margin-right: 0;
}

.u-section-5 .u-back-image-7 {
  width: 384px;
}

.u-section-5 .u-over-slide-7 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-8 {
  margin-right: 0;
}

.u-section-5 .u-back-image-8 {
  width: 384px;
}

.u-section-5 .u-over-slide-8 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-9 {
  margin-right: 0;
}

.u-section-5 .u-back-image-9 {
  width: 384px;
}

.u-section-5 .u-over-slide-9 {
  padding: 30px;
}

.u-section-5 .u-gallery-item-10 {
  margin-right: 0;
}

.u-section-5 .u-back-image-10 {
  width: 384px;
}

.u-section-5 .u-over-slide-10 {
  padding: 30px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 3px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 3px;
}

.u-section-5 .u-shape-1 {
  height: 30px;
  background-image: none;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-1 {
    width: 940px;
    margin-top: 0;
  }

  .u-section-5 .u-back-image-1 {
    width: 440px;
  }

  .u-section-5 .u-back-image-2 {
    width: 440px;
  }

  .u-section-5 .u-back-image-3 {
    width: 440px;
  }

  .u-section-5 .u-back-image-4 {
    width: 440px;
  }

  .u-section-5 .u-back-image-5 {
    width: 440px;
  }

  .u-section-5 .u-back-image-6 {
    width: 440px;
  }

  .u-section-5 .u-back-image-7 {
    width: 440px;
  }

  .u-section-5 .u-back-image-8 {
    width: 440px;
  }

  .u-section-5 .u-back-image-9 {
    width: 440px;
  }

  .u-section-5 .u-back-image-10 {
    width: 440px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-6 {
  background-image: none;
  min-height: 163px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 25px;
  min-height: 83px;
  background-image: none;
}

.u-section-6 .u-shape-1 {
  height: 30px;
  background-image: none;
  margin-top: 25px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    margin-top: 107px;
  }
}